<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="INFO" name="ljbm" >
	<Properties>
		<Property name="basedir">/opt/app/ljbm</Property>
	</Properties>
	<Filter type="ThresholdFilter" level="trace" />

	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<!--<PatternLayout pattern="%d{dd/MM/yyyy HH:mm:ss,SSS} %-5p %-25c{1} %m%n" charset="UTF-8"/>-->
			<PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss,SSS} (%.5thread) %c{3}: %m%n%xEx" charset="UTF-8"/>
			<Filters>
			<!-- 
				<ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
			-->
			</Filters>
		</Console>
		
		<RollingFile name="LogGeral" fileName="${basedir}/ljbm.log" filePattern="${basedir}/rep-%d{yyyy-MM-dd}-%i.log.zip">
		    <Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss,SSS} (%.5thread) %c{3}: %m%n%xEx" charset="UTF-8"/>
			<DefaultRolloverStrategy min="1" max="30"/>
		</RollingFile>
		
		<Async name="AsyncSTDOUT">
			<AppenderRef ref="STDOUT"/> 
		</Async>
		<Async name="AsyncGeral">
			<AppenderRef ref="LogGeral"/> 
		</Async>
	</Appenders>

	<Loggers>
		<Logger name="br.com.ljbm" level="info" />
		
		<Logger name="org.hibernate.validator" level="info" />
		<!--<Logger name="org.hibernate.SQL" level="debug" />-->
		<Logger name="org.hibernate.type" level="info" />
		<Logger name="org.hibernate.dialect" level="info" />

		<Root level="info">
			<AppenderRef ref="AsyncSTDOUT" />
			<AppenderRef ref="AsyncGeral" />
		</Root>
	</Loggers>
</Configuration>