<server description="ljbmEJB">

	<!-- Enable features -->
	<featureManager>
		<!-- <feature>jaxws-2.2</feature> -->
		<!-- <feature>jca-1.7</feature> -->

		<!-- <feature>apiDiscovery-1.0</feature> -->
		<!-- <feature>adminCenter-1.0</feature> -->
		<!-- <feature>websocket-1.1</feature> -->
		<feature>servlet-3.1</feature>
		<feature>cdi-1.2</feature>
		<feature>jaxrs-2.0</feature>
		<feature>ejbLite-3.2</feature>
		<feature>beanValidation-1.1</feature>
		<feature>jpa-2.1</feature>
		<feature>jndi-1.0</feature>
		<feature>localConnector-1.0</feature>
		<feature>jsf-2.2</feature>
		<feature>ejbRemote-3.2</feature>
		<!-- <feature>webProfile-7.0</feature> -->
	</featureManager>


	<!-- Define an Administrator and non-Administrator -->
<!-- 	<basicRegistry id="basic">
		<user name="admin" password="adminpwd"/>
		<user name="nonadmin" password="nonadminpwd"/>
	</basicRegistry> -->

	<!-- Assign 'admin' to Administrator -->
<!-- 	<administrator-role>
		<user>admin</user>
	</administrator-role> -->

<!-- 	<keyStore id="defaultKeyStore" password="Liberty"/> -->

	<!-- To access this server from a remote client add a host attribute to 
		the following element, e.g. host="*" -->
	<httpEndpoint host="*" httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint"/>

 	<include location="${shared.config.dir}/jdbc/sqljdbc4-4.2.xml" optional="false"/> 
 	
	<dataSource id="ljbm_sql" jdbcDriverRef="sqljdbc4-4.2" jndiName="jdbc/ljbmDS" type="javax.sql.DataSource">
	    <properties.microsoft.sqlserver databaseName="ljbm" password="root" portNumber="1433" serverName="192.168.0.10" user="root"/>
	</dataSource>
<!--	
	<include location="${shared.config.dir}/jdbc/mysql-connector-java-5.1.35.xml" optional="false"/>
	
	<dataSource id="ljbm_mysql" jdbcDriverRef="mysql-connector-java-5.1.35" jndiName="jdbc/ljbmDS" type="javax.sql.DataSource">
		<properties password="root" url="jdbc:mysql://localhost:3306/ljbm?relaxAutoCommit=true" user="root"/>
	</dataSource>
-->

	<!-- Automatically expand WAR files and EAR files -->
	<applicationManager autoExpand="true"/>

    <applicationMonitor updateTrigger="mbean"/>
	<cdi12 enableImplicitBeanArchives="false"/>

    <enterpriseApplication id="ljbmEAR" location="ljbmEAR.ear" name="ljbmEAR"/>

    <webApplication id="ljbmWeb" location="ljbmWeb.war" name="ljbmWeb"/>
</server>