<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="INFO" name="ljbmTeste">

	<Filter type="ThresholdFilter" level="trace" />

	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%-5p (%.5thread) %c{1}: %m%n%xEx"
				charset="UTF-8" />
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="br.com.ljbm" level="debug" />

		<Logger name="org.hibernate" level="warn" />
		<Logger name="org.hibernate.stat" level="debug" />	
		<Logger name="net.sf.ehcache" level="warn" />
		<Logger name="org.hibernate.validator" level="warn" />
		<Logger name="org.hibernate.SQL" level="debug" />
		<Logger name="org.hibernate.type" level="warn" />
		<Logger name="org.hibernate.dialect" level="warn" />

		<Root level="debug">
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>